/* src/Projects.css */

  

  
.title{
    padding-top: 3rem;
    font-size: 2rem;
  }

  .des{
    padding-top: 2rem;
    font-size: 0.8rem;
  }
 
  .name{
    padding-top: 1rem ;
    font-size: 2rem;
  }

  .desc-1{
  margin-top: 2rem;
  font-size: 0.8rem;
  
  }
  




  .projects-container {
    position: relative;
    height: 300vh; /* to allow scrolling */
    width: 100%;
    overflow-y: none;
  }
  
  .project-card {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-color: #F7E5CB;
    padding: 20px;
    margin: 0;
    width: 100%;
    box-shadow: 0 2px 3px rgba(222, 216, 216, 0.1);
    z-index: 1;
  }
  
  .project-card.show {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .project-card.fade-out {
    opacity: 1;
    animation: fadeOut 0.5s ease-in-out forwards; 
  
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
      filter: brightness(1);
     
      scale: (1);
    }
    100% {
      opacity: 1;
      filter: brightness(0.5); /* Adjust this to the level you want */
      
      scale: .96;
    }
  }

  
  .project-card img {
    width: 25%;
    height: 50%;
    margin-top: 1rem;
    display: flex;
    align-self: center;
    background-color: #486ba4;
  }
  
  @media only screen and (max-width: 600px) {
    .projects-container {
      height: 300vh;
    }
  
    .project-card img {
      width: 100%;
      height: auto;
    }
  }

.project-card-link{
    margin-top: 10rem;
    background-color: transparent;
    margin-left: 50rem;
    width: 35vw ;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.5rem;
}


.overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 50vw;
  
  background-color: transparent;
  
}



@media (max-width: 769px) {


  .project-card-link{
    margin-top: 15rem;
    background-color: transparent;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    margin-left: 0rem;
    width: 90vw;
   
}

  .overlay{
    display: flex;
    justify-content: center;
    height: 7rem;
    width: 100%;
   
    
    background-color: transparent;
    
  }
  
}
  /* src/Projects.css */

  
  .box{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F7E5CB;
    >span{
      display: block;
      width: 12px;
      height: 12px;
      border-bottom: 4px solid #ba2025;
      border-right: 4px solid #ba2025;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 2s infinite;
      background-color: transparent;;
    }
  }

  .box span:nth-child(1){
    animation-delay: -0.2s;
    
  }

  .box span:nth-child(2){
    animation-delay: -0.4s;
  }
  .box span:nth-child(3){
    animation-delay: -0.6s;
  }
  
  
  @keyframes animate{
    0%{
      opacity: 0;
      transform: rotate(45deg) translate(-12px,-12px);
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: rotate(45deg) translate(12px,12px);
    }
   }